.vscode
*.pyc
crocodile-OLD
tests/1b7f/frag3-?wd/offsets-[2-9]*
tests/1b7f/frag3-?wd/offsets-1[0-9]*
tests/1b7f/frag3-?wd/poses-[2-9]*
tests/1b7f/frag3-?wd/poses-1[0-9]*
WIP/*.npy
WIP/*.ene
WIP/*.grid
WIP/RUN-*
WIP/ramscratch
WIP/BAK
tests/1b7f/1b7f-frag4-scored-and-merged/poses*.pdb
grow-implementation/*/case*/poses-*.npy
grow-implementation/*/case*/offsets-*.dat
grow-implementation/*/case*.csv